Flask==3.1.1
flask-cors==6.0.0
Flask-SQLAlchemy==3.1.1
stripe==13.0.1
python-dotenv==1.1.1
gunicorn==21.2.0
requests==2.31.0
psycopg2-binary==2.9.9
# Dependencias para el blog
beautifulsoup4==4.12.3
lxml==5.1.0
PyJWT==2.10.1
cloudinary==1.41.0
